.bg {
    background-color: rgb(247, 223, 223);
}

p{
    color: rgb(5, 2, 34);
}

h1{
    color: rgb(81, 226, 190);
}

h2{
    color: rgb(83, 206, 165);
}

h3{
    color: rgb(85, 185, 172);
    
}

h4{ color: rgb(106, 188, 199);}